<div class="row">
  <div class="col-md-12 col-lg-6">
    <label class="control-label">Name</label>
    <input type="text"
           class="form-control"
           placeholder="Name"
           [(ngModel)]="client.name" />
  </div>
  <div class="col-md-12 col-lg-6">
    <label class="control-label">Role</label>
    <input type="text"
           class="form-control"
           placeholder="Role"
           [(ngModel)]="client.role" />
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <br />
    <button type="button"
            class="btn btn-primary"
            (click)="saveClient()">
      Save
    </button>
    <button type="button"
            class="btn btn-default"
            (click)="cancel()">
      Cancel
    </button>
  </div>
</div>
